@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3.5em;
    box-shadow: 0px 2px 6px rgba(93, 79, 255, 0.1);
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: white;
}

.logo img{
    height: 90px;
    width: 210px;
}

a {
    color: #1e1b42;
    text-decoration: none;
}

.navbar a{
    height: 1.667em;
    margin: 0.5em;
    text-decoration: none;
    font-weight: 500;
}

button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1em;
    border-radius: 10px;
    border: none;
}

.navbar button {
    margin: 0.5em;
}

.big-nav {
    display: flex;
    justify-content: center;
}

.big-nav i {
    color: #5d4fff;
    padding-top: 10px; 
    font-size: 2.4em;
    transition: ease 0.3s;
}

.menu-bar {
    display: none;
}

.big-nav i:hover {
    transform: translateY(-3px);

}

.book{
    padding: 20px 10px;
    background-color: #5d4fff;
}

.book a {
    color: white;
    font-weight: bolder;
}

svg {
    cursor: pointer;
}

.book, .btn-nav {
    transition: ease 0.3s;
}

.book:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 11px rgba(93, 79, 255, 0.1);
}

.btn-nav {
    padding: 13px 16px;
    transition: ease 0.3s;
}

.white-btn{
    padding-top: 27px;
}

.navbar .btn-nav:hover{
    color: #5d4fff;
}

.small-nav {
    position: fixed;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start !important;
    width: 100%;
    top: 0;
    right: -2000px;
    padding: 15px;
    height: 100vh;
    transition: all 0.5s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    height: 100vh;
    text-align: center;
}

.sidebar li {
    width: 100%;
    padding: 15px;
    font-size: 3em;
}

.sidebar a{
    transition: ease 0.3s;
}

.sidebar a:hover, .fa-xmark:hover {
    color: #5d4fff;
}

.fa-xmark {
    font-size: 3em;
}

@media screen and (max-width: 932px){
    .navbar a{
        font-size: 0.8em;
    } 

    .header img {
        height: 65px;
        width: 150px;
    }

    .big-nav i{
        padding-top: 18px;
    }

    .book {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 803px){
    .showNav {
        right: 0;
    }
    
    .white-btn {
        display: none;
    }

    .menu-bar {
        display: block;
        margin-right: 7px;
    }

    .big-nav .menu-bar i{
        font-size: 1.5em;
        padding-top: 31px;
    }

    .big-nav i {
        padding-top: 22px;
    }
}

@media screen and (max-width: 563px) {

    .big-nav .menu-bar i{
        font-size: 1.5em;
        padding-top: 26px;
    } 

    .book {
        padding: 15px 10px
    }

    .big-nav i {
        padding-top: 18px;

    }
}

@media screen and (max-width: 451px){
    .header{
        padding: 1em;
    }

    .header img {
        height: 60px;
        width: 130px;
    }
}

@media screen and (max-width: 377px){
    .header img {
        height: 45px;
        width: 100px;
    }

    .book {
        padding: 20px 5px;
    }

    .big-nav i {
        font-size: 3.2em;
    }

    .menu-bar {
        font-size: 1.3em;

    }

    .header {
        width: 100%;
    }

    .sidebar li {
        font-size: 3em;
    }
}

.landing, .about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    color: #1e1b42;
    margin-top: 7em;
    margin-bottom: 13em;
}

.about {
    margin-bottom: 11em;
}

.inner-home, .inner-about{
    flex: 1 1 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-home img, .inner-about img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    text-align: center;
}

.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 6em;
    padding-bottom: 20em;
}

.home-main-text, .about-main-text {
    font-size: 2.5em;
    font-weight: bolder;
}

.home-main-text, .home-subtext, .about-main-text, .about-subtext {
    text-align: center;
}

.home-subtext, .about-subtext {
    margin: 1.5em;
    font-size: 1.2em;
}

.home-btn{
    display: flex;
}

.purple {
    color: #5d4fff;
}

.appoint-btn{
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    padding: 20px 15px;
    margin: 0;
    background-color: #5d4fff;
    transition: ease 0.3s;
}

.service-btn {
    background-color: white;
    color: #5d4fff ;
    border-radius: 10px;
    padding: 20px 16px;
    transition: ease 0.3s;
    box-shadow: 0px 2px 6px rgba(24, 20, 67, 0.07);
    margin-left: 1.4em;
    font-weight: 800;
}

.service-btn:hover, .appoint-btn:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 1460px){
    .home-info, .about-info {
        padding: 3em 3em 0 3em;
    }

    .inner-home img, .inner-about img{
        width: 80%;
    }
    
    .about {
        margin-bottom: 9em;
    }

}

@media screen and (max-width: 596px){
    .inner-home img, .inner-about img{
        width: 100%;
    }

}

@media screen and (max-width: 476px){
    .appoint-btn, .service-btn {
        font-size: 0.9em;
        padding: 17px 16px;
    }

    .book {
        font-size: 1.1em;
        padding: 15px 11px;

    }

}

@media screen and (max-width: 412px){
    .appoint-btn, .service-btn, .book {
        text-align: center;
    }
}

@media screen and (max-width: 337px){
    .home-info, .about-info {
        padding: 3em 1em;

    }
}

.about-subtext {
    text-align: left;
    line-height: 1.5em;
}

.about-main-text {
    font-size: 3em;
}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-wrap: wrap;
    font-size: 3em;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

.service {
    font-size: 2.5em;
    width: 60%;
    text-align: left;
}

.book-btn {
    width: 40%;
    text-align: right;
    transition: ease 0.3s;
    
}

.service-appoint-btn{
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    padding: 20px 15px;
    background-color: #5d4fff;
    box-shadow: none;
}

.book-btn:hover {
    transform: translateY(-3px);
}

.services, .review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1em 13em 1em;
}

.listService {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 3em;
}

.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* transition: 0.3s; */
    box-shadow: 2px 2px 10px rgba(93, 79, 255, 0.1);
}

/* .service-card:hover {
    transform: scale(1.02);
} */

.service-img {
    height: 50%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.service-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.service-info {
    text-align: center;
    /* padding: 10px 10px 40px 10px; */
    padding: 10px;
    height: 50%;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.name, .contact-btn {
    margin-bottom: 0.5em;

}

.name {
    font-size: 1.6em;
    font-weight: bold;
}

.description {
    font-weight: 300;
    margin-bottom: 1em;
}

.learn-more-container {
    text-align: left;
    width: 100%;
    padding: 20px 20px 35px 20px;
}

.learn-more {
    background-color: #5d4fff;
    color: white;
    padding: 9px 14px;
    font-weight: bolder;
    border-radius: 15px;
    cursor: pointer;
    transition: ease 0.3s;
}

.learn-more:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 1092px) {
    .service {
        font-size: 2em;
    }
}

@media screen and (max-width: 717px) {
    .service{
        font-size: 1.7em;
    }

    .about-main-text {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 562px) {
    :root {
        font-size: 0.8em;
    }

    .listService {
        grid-template-columns: repeat(1, 230px);
    }

    .about-main-text {
        font-size: 3em;
    }



}

@media screen and (max-width: 445px) {
    .service-appoint-btn {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 377px) {
    :root {
        font-size: 0.6em;
    }

    .description, .footer h3, .subfooter-list li, .home-btn a {
        font-size: 1.1em;
    }

    .about-subtext {
        font-size: 1.3em;
        /* line-height: 1.5em; */
    }

    .book {
        font-size: 1.3em;
    }

    .service-appoint-btn {
        font-size: 1em;
        padding: 18px 8px;
    }

    



}

.stars i {
    color: #FCBF02;
}

.slider{
    width: 100%;
    height: 480px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    margin-top: 3em;
    padding-top: 0.8em;
}
.review-list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.review-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (20s / var(--quantity)) * (var(--position) - 1) )!important;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(93, 79, 255, 0.1);
}

.review-img {
    padding-top: 1.5em;
}

.review-img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.review-card .description {
    padding: 1em 2em;
    text-align: center;
}


.slider:hover .review-card{
    animation-play-state: paused!important;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

@media screen and (max-width: 562px) {
    .slider {
        height: 340px;
    }

    .review-card {
        height: 310px;
    }

}

@media screen and (max-width: 378px) {
    .slider {
        height: 240px;
    }

    .review-card {
        height: 230px;
    }

}

.footer, .copyright {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5d4fff;
    font-weight: 500;
}

.footer a {
    color: white;
}

.footer h3 {
    color: #F2F1FE;
    font-weight: 800;
    font-size: 1.4em;
}

.footer i {
    padding: 10px;
    background-color: #1e1b42;
    border-radius: 50%;
}

.footer .subfooter-list {
    font-size: 1.1em;
}

.footer .main-foot i {
    font-size: 1.5em;
    padding: 9px;
    margin-top: 1em;
}

.footer .main-foot {
    font-size: 1.1em;

}

.footer .fa-location-dot {
    padding: 9px 11.5px;
}



.large-footer-container {
    display: grid;
    grid-template-columns: 210px 150px 150px 380px;
    gap: 30px;
    padding: 3em 1em 2em 1em;
}

.small-footer-container {
    margin-top: 2em;
}

.img-foot img {
    height: 85px;
    width: 170px;
}

.footer ul {
    list-style: none;
}

.footer li {
    padding-bottom: 1em;
}

.footer .contact li {
    padding-bottom: 2em;
}

.quick-foot li:hover, .service-foot li:hover {
    text-decoration: underline;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.contact-info {
    margin-left: 1em;
    line-height: 1.7em;
}

.copyright {
    text-align: center;
    padding: 1em;
    background-color: white;
}

@media screen and (max-width: 1031px) {
    .footer .main-foot i {
        font-size: 1.3em;
    }

    .footer .subfooter-list {
        font-size: 0.9em;
    }

    .footer h3 {
        font-size: 1.2em;
    }

    .large-footer-container {
        display: grid;
        grid-template-columns: 210px 150px 150px 270px;
        padding: 3em 1em 2em 1em;
    }    
}

@media screen and (max-width: 926px) {
    .service-foot {
        display: none;
    }

    .large-footer-container {
        grid-template-columns: 210px 150px 270px;
        gap: 30px;
    }
}

@media screen and (max-width: 734px) {
    .img-foot img{
        height: 65px;
        width: 130px;
    }

    .footer .main-foot {
        font-size: 1em;
    }

    .small-footer-container {
        margin-top: 1.3em;
    }

    .large-footer-container {
        grid-template-columns: 320px 110px;
        grid-template-rows: 190px 332px;
        padding-bottom: 5em;
    }
}

@media screen and (max-width: 562px) {
    .large-footer-container {
        display: flex;
        align-items: left;
        flex-wrap: wrap;
        padding: 2em 1em 0 1em;
    }
}

@media screen and (max-width: 377px) {
    .img-foot img{
        height: 55px;
        width: 110px;
    }

    .large-footer-container {
        font-size: 1.2em;

    }

    .copyright {
        font-size: 1.4em;
    }
}


















 
